.radio {
    min-width: 20px;
    min-height: 20px;
    vertical-align: middle;
    margin: 8px;
    cursor: pointer;
}

.radio::before {
}


.radio:checked::before {
}

.label {
}

.options {
    display: flex;
    flex-direction: column;
}
