.friendMessage {
    margin-bottom: 47px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.friendText {
    max-width: 50%;
    padding:  3px 25px 8px 13px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
}

.friendText:before {

}

.friendName {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
}

.friendMessageText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.friendTime {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 11px;
}
