.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 7px;
}

.input {
    width: 372px;
    height: 36px;
    margin-right: 12px;
    padding: 8px 0 8px 12px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    ont-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.input:focus {
    outline: none;
}

.errorInput {
    border-color: #CC0000;
}

.button {
    width: 78px;
    height: 36px;
    padding: 5px 24px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 3px;
    border: none;
}

.button:focus {
}

.button:active {

}

.button:disabled {
    background: #0066CC;
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 7px;
}
